@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#fafafa] text-gray-900 font-sans antialiased;
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html.dark body {
    @apply bg-gray-900 text-gray-100;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
    
    &:hover {
      text-decoration: underline;
    }
  }

  button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;

    * {
      pointer-events: none;
    }
  }

  input, textarea, select {
    font-family: inherit;
    text-align: inherit;
  }
}

@layer utilities {
  body:has(.click-outside) {
    :is(.click-outside, .click-outside *) {
      pointer-events: all;
    }

    *:not(.click-outside, .click-outside *) {
      pointer-events: none;
    }
  }
}
